body {
    background-color: #101010;
  }


  h1 {
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    font-weight: bold;
  }

  h2 {

    font-family: 'Noto Sans Thai', sans-serif;
    color:#ffffff;color:#ffffff;
    text-align:left;
    font-weight: light;
  }
